/* presets */
*, *:after, *:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul,ol{
    margin: 0;
    padding: 0;
}
a{
    cursor: pointer;
}
body{
    font-family: 'AkzidenzGrotesk';
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.16rem;
    line-height: 1.42857143;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;

}
.clearfix:after, .clearfix:before {
    display: table;
    content: "";
    line-height: 0;
}
.clearboth{
    clear: both;
}
.float, .grid-item{
    float: left;
}
.half{
    width: 50%;
}
.full-width{
    width: 100%;
}
.text-center{
    text-align: center;
}
.text-align-center{
    text-align: center;
}
.position-relative{
    position: relative;
}
.display-block{
    display: block;
}
.display-none{
    display: none;
}
/* Header */
.desktop-navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 500ms ease-in-out;
}
.dropdown-menu {
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 200ms ease-in-out 0s,visibility 200ms ease-in-out 0s;
    transition: opacity 200ms ease-in-out 0s,visibility 200ms ease-in-out 0s;
}
.desktop-navbar-nav-dropdown .desktop-navbar-nav-dropdown-menu {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    z-index: 0;
    color: #000;
    background-color: #fff;
    text-align: left;
    -webkit-transition: opacity 400ms ease 0s,visibility 400ms ease 0s;
    transition: opacity 400ms ease 0s,visibility 400ms ease 0s;
    -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,0.05);
    box-shadow: 0px 2px 3px rgba(0,0,0,0.05);
}
.desktop-navbar-nav-logo {
    display: block;
    overflow: hidden;
    width: 160px;
    height: 55px;
    line-height: 75px;
    margin: auto;
    -webkit-transition: height 200ms ease 0s;
    transition: height 200ms ease 0s;
}
.hidden-label {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
}
ul.desktop-navbar-nav-list-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    padding: 0 0px;
}
ul.desktop-navbar-nav-list-right li.nav-list-level-1-item {
    float: right;
    width: 14px;
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
}
ul.desktop-navbar-nav-list-right li.nav-list-level-1-item:first-child {
    margin-right: 0;
}

ul.desktop-navbar-nav-list-right li.nav-list-level-1-item {
    -webkit-transition: opacity 400ms ease-in-out 0s;
    transition: opacity 400ms ease-in-out 0s;
}
.desktop-navbar-nav-pillar {
    height: 65px;
    line-height: 65px;
}
svg:not(:root) {
    overflow: hidden;
}

ul.desktop-navbar-nav-list-center {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
}
ul.desktop-navbar-nav-list-center li.nav-list-level-1-item {
    float: left;
    padding-left: 22px;
    padding-right: 22px;
}
ul.desktop-navbar-nav-list-center li.nav-list-level-1-item:first-child {
    padding-left: 65px;
}
li.desktop-navbar-nav-dropdown {
    position: static;
}
.mega-menu {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row no-wrap;
    -moz-flex-flow: row no-wrap;
    -ms-flex-flow: row no-wrap;
    flex-flow: row no-wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.mega-menu-col {
    flex: 0 0 auto;
    width: 25%;
    padding: 0 15px;
}
.mega-menu-col.mega-menu-nav-col {
    text-align: right;
}
.mega-menu-title {
    font-weight: 700;
    padding-bottom: 25px;
}
ul.desktop-navbar-nav-list li.nav-list-level-2-item a {
    padding-bottom: 15px;
}
.product-card-canvas {
    position: relative;
    padding-top: 142.85714%;
}
.product-card-canvas {
    height: auto !important;
}
.product-card-image {
    visibility: hidden;
    opacity: 0;
    transition: all 800ms ease-in-out;
}
.product-card-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.product-image-color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.03);
}
.mega-menu .product-card-details {
    height: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    -moz-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 0;
    font-size: 1.2rem;
}
.product-card-details {
    margin-top: 20px;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    text-align: center;
}
li.desktop-navbar-nav-dropdown .desktop-navbar-nav-dropdown-menu


/* Mobile Navbar */

.mobile-navbar{
    position: fixed;
    padding: 0 10px;
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
}
.navbar-header{
    text-align: center;
    position: relative;
}
ul{
    font-size: 10px;
}
.navbar-nav{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 55px;
    padding: 0 30px;
    overflow: auto;
    transition: opacity 400ms ease-in-out 0s;
    background-color: #FFF;
}
.navbar-nav-open{
    opacity: 1;
    visibility: visible;
    overflow-x: hidden;
}
@media only screen and (max-width: 375px), screen and (max-height: 667px){
    .navbar-nav-open{
        z-index: 99;
        height: 78vh;
    }
}
@media only screen and (min-width: 992px){
    .desktop-navbar{
        margin: 0 30px;
        z-index: 201;
        position: relative;
        max-width: 1340px;
    }
    .mobile-navbar {
        display: none !important;
    }
}
@media (min-width: 993px){
    .menu-bg {
        position: absolute;
        height: 365px;
        width: 100%;
        left: 0;
        top: 120px;
        opacity: 0;
        visibility: hidden;
        background-color: white;
        z-index: 1;
        transition: all 300ms;
    }
    .mega-menu {
        position: relative;
        z-index: 2;
    }
    li.nav-list-level-1-item.desktop-navbar-nav-dropdown.dropdown .product-card-canvas {
        opacity: 0;
        transition: all 500ms;
    }
}
.navbar-inner{
    overflow-y: scroll;
    width: calc(100% + 50px);
    padding-right: 50px;
    overflow-x: hidden;
}
.mobile-menu{
    float: left;
    height: 55px;
    line-height: 55px;
    cursor: pointer;
    padding-right: 22px;
    width: 50px;
}
.hamburger-menu{
}
.close-js{
    padding: 0 5px;
}
.mobile-dropdown-menu{
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms ease-in-out 0s;
}
.open-sub{
    max-height: 540px;
    opacity: 1;
}
.dropdown-toggle{
    font-size: 10px;
    padding: 15px 0;
    cursor: pointer;
    background-image: url("https://cdn.shopify.com/s/files/1/2422/6603/t/49/assets/icon_arrow_down_black.svg?4597746650101579047");
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 10px;
}
.mobile-nav-menu{
    text-align: center;
    font-size: 14px;
    line-height: 3;
    border-top: 1px solid #eee;
}
.mobile-nav-text{
    font-size: 11px;
    line-height: 3;
    text-align: center;
}
.nav-lv1{
    text-align: center;
}
.nav-lv1-item:first-child{
    border-top: 1px solid #eee;
}
.nav-lv1-item, .mobile-nav-text{
    border-bottom: 1px solid #eee;
}
.nav-lv2{
    opacity: 0;
    transition: opacity 300ms;
}
.nav-lv2-item{
    font-size: 10px;
}
.lv2-item{
    padding: 10px 0;
}
.mobile-nav-products{
    padding: 15px 0;
}
.nav-product:nth-child(1){
    padding-left: 0;
    padding-right: 5px;
}
.nav-product:nth-child(2){
    padding-left: 5px;
    padding-right: 0;
}
.product-detail{
    font-size: 10px;
    margin-top: 10px;
}
.product-layer{
    height: auto !important;
}
.image-layer{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.overlay-layer{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.nav-search{
    width: 20px;
    float: right;
    margin: 0 5px;
    padding: 0 3px;
}
.account-icon{
    width: 14px;
    float: right;
    margin: 0 5px;
}
.nav-height{
    height: 55px;
    line-height: 55px;
}
.icon{
    vertical-align: middle;
}
.nav-logo{
    display: block;
    width: 120px;
    margin: 0 auto;
}
.search-bar{
    /* width: 100%; */
}
.refinement-height{
    height: 27px;
    line-height: 29px;
}
.refinement-wrapper{
    position: relative;
    font-size: 10px;
    margin: 0 15px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.refinement-wrapper:after, .footer-top:after, .row:after{
    content: " ";
    display: block;
    clear: both;
}
.breadcrumb .refinement-height:first-child{
    color: #eee;
}
.breadcrumb{
    float: left;
}
.filter{
    float: right;
}
.filter-drop:after{
    content: '\002B';
    display: inline-block;
    background: none;
    text-align: right;
    width: 15px;
    height: 27px;
    line-height: 24px;
}

/* Main Body */
main{
    display: block;
    min-height: 100vh;
}
main, footer{
    text-transform: uppercase;
}
.container{
    padding: 0 15px;
    max-width: 1400px;
}
.collection-grid::after{
    content: " ";
    display: block;
    clear: both;
}
.collection-product-grid{
    padding: 0 10px;
    margin: 20px;
    float: left;
}
.black-link{
    color: black;
    text-decoration: none;
}
.set-container{
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.set-container::-webkit-scrollbar {
    display: none !important;
}

.set-name{
    position: relative;
    display: inline-block;
    padding-top: 8px;
    margin-bottom: 10px;
    font-size: 10px;
}

.set-name::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 1px;
    background-color: #808285;
}

.set-item{
    width: 160px;
    flex: none;
}
.img-container{
    position: relative;
    padding-top: 142.85714%;
    height: auto !important;
}
.item-image{
    background-image: url("https://cdn.shopify.com/s/files/1/2422/6603/products/STLOUIS-BENGALPOLARIZED-WEBSITE-FRONT_250x.progressive.PNG.jpg?v=1512497656");
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.item-image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.03);
}
.item-detail{
    height: 60px;
    margin-top: 10px;
    text-align: center;
    letter-spacing: .2rem;
}
/* Footer */
footer{
    display: block;
    position: relative;
    font-size: 1.2rem;
    padding: 0 30px;
    max-width: 1400px;
    margin-top: 30px;
}
li{
    list-style: none;
}
.footer-title{
    margin-bottom: 15px;
    font-weight: 700;
}
.footer-top{
    padding-bottom: 15px;
}
.footer-container{
    border-top: 1px solid#BCBEC0;
}
.footer-list-container{
    margin-top: 25px;
}
.footer-list{
    margin-bottom: 40px;
}
.footer-list-item:first-child{
    padding-top: 0;
}
.footer-list-item{
    padding-top: 14px;
}
.footer-button{
    display: block;
    border: 1px solid #000;
    text-align: center;
    margin-bottom: 10px;
}
.footer-hours{
    line-height: 1.8;
}

.fb-icon::before{
    content: "\e028"
}
.top{
    z-index: 3147483639;
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 75px;
    text-indent: 4px;
    background-image: url("https://cdn.shopify.com/s/files/1/2422/6603/t/49/assets/icon_arrow_top_grey.svg?15186197157817367994");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 30px;
}
.copyright{
    font-size: 1.2rem;
    letter-spacing: 0.16rem;
    color: #808285;
}
.footer-button{
    display: block;
    padding: 7px 0;
    margin-bottom: 10px;
}
.footer-help{
    padding-left: 15px;
}
@media (max-width: 767px){
    footer{
        padding: 0 15px;
        font-size: 10px;
    }
    .margin{
        margin: 0 10px;
    }
    .footer{
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer-container{
        padding-top: 0;
        padding-bottom: 30px;
    }
    .copyright{
        padding-top: 30px;
        font-size: 9px;
    }
    .footer-hours{
        /* font-size: 10px; */
    }
}
@media only screen and (max-width:991px){
    body{
        padding-top: 55px;
    }
    .set-container{
        /* margin-right: -15px; */
    }
    .set-item:first-child{
        padding-left: -5px;
    }
    footer{
        margin-top: 30px;
    }
    .footer-button{
        padding: 7px 0;
    }
    .copyright{
        text-align: center;
    }
}
